* {
    padding: 0;
    margin: 0;
}
html {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background: rgb(62,62,62);
    background: linear-gradient(90deg, rgba(62,62,62,1) 0%, rgba(164,0,0,1) 100%);
}
.container {
    width: 350px;
    height: 500px;
    background-color: aliceblue;
    border-radius: 25px;
    -webkit-box-shadow: 5px 5px 15px 5px #000000; 
    box-shadow: 5px 5px 15px 5px #000000;
}
.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100px;
}
.formulario {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 300px;
    top: 3px;
    margin: auto;
    height: 200px;
}
.respuesta {
    width: 100%;
    min-height: 185px;
    position: relative;
    top: 10px;
}
form {
    width: 250px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
input {
    width: 200px;
    
    height: 25px;
}
label {
    position: relative;
    color: transparent;
    background: #666666;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    text-shadow: 0px 3px 3px rgba(255,255,255,0.5);
    bottom: 15px;
    font-size: 20px;
}
::placeholder {
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
}

table {
    font-size: medium;
    height: 125px;
}
th {
    border: 1px solid red;
    height: 25px;
}
td {
    border: 0.2px solid black;
    height: 30px;
    width: 125px;
    text-align: center;
}




/* CSS */
.button-40 {
    position: relative;
    top: 25px;
    height: 40px;
    text-align: center;
  background-color: #111827;
  border: 1px solid transparent;
  border-radius: .75rem;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  flex: 0 0 auto;
  font-family: "Inter var",ui-sans-serif,system-ui,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  font-size: 1.125rem;
  font-weight: 600;
  line-height: 1rem;
  padding: .75rem 1.2rem;
  text-align: center;
  text-decoration: none #6B7280 solid;
  text-decoration-thickness: auto;
  transition-duration: .2s;
  transition-property: background-color,border-color,color,fill,stroke;
  transition-timing-function: cubic-bezier(.4, 0, 0.2, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 150px;
}

.button-40:hover {
  background-color: #374151;
  color: white;
}

.button-40:focus {
  box-shadow: none;
  outline: 2px solid transparent;
  outline-offset: 2px;
}

@media (min-width: 768px) {
  .button-40 {
    padding: .75rem 1.5rem;
  }
}

